
html {
    background-color: #272b30;
    background-image: url("https://bootswatch.com/assets/img/bg.jpg");
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #c8c8c8;
}

.navbar-default {
    background-color: transparent !important;
    border-color: #2b2e32 !important;
    color: #ffffff !important;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

#wrapper {
    position: absolute;
    width: 100%;
    padding-top: 80px;
    left: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*.panel-color {*/
    /*-webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.33);*/
    /*-moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 50, 0.33);*/
    /*box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 0.33);*/
    /*height: auto;*/
/*}*/

.user-info {
    letter-spacing: 0.5px;
    padding: 10px;
    font-size: 15px;
    color: lightblue;
}

.list-group-item.active {
    background-color: #393d42 !important;
    color: white !important;
}

.fa {
    padding-right: 5px;
}

.type-info {
    padding-bottom:30px;
    height:18px;
}

.user-info-panel {
    float: left;
    position: inherit;
    width: 80%;
    height: 493px;
    border-radius:5px;
}

.user-info-title {
    padding: 5px;
}


.panel-heading {
    font-size: 18px;
}
.user-info-action {
    line-height: 600px;
    color: lightgray;
    font-size: 26px;
}

.security-code-error {
    width: 100px;
    margin-top: -25px;
    text-align: center;
    border-color: #ffa5a5 !important;
    bottom: 0;
    left: 0;
    z-index:20 !important;
    overflow: hidden;
    position: relative;
}

.security-code-error-txt {
    margin-top: 8px;
    border-color: #ffa5a5 !important;
    height: 45px;
    overflow: hidden !important;
}

.generating {
    margin-top: 290px;
    font-size: 26px;
}

.creating-user-link {
    font-size: 13px;
    cursor: pointer;
}

span { display:block; /* Pre-existing code */ }

span.inline {
    display:inline;
}

.security-field {
    float: top; !important;
    display: inline-block !important;
    font-size: 18px !important;
}

.security-code-btn {
    padding-top: 35px;
    margin-left: 15px;
    /*background-color: blue;*/
}

/*.col-color-stg {*/
    /*background-color: orangered;*/
/*}*/

.account-number{
    margin-left: 20px;
}

.security-code-panel {
    padding-left: 285px;
    margin-top: 20px;
    padding-bottom: 150px;
    vertical-align: middle;
}

.security-list-group {
    margin-top: 20px;
}

.security-code-danger{
    font-size: 38px;
}
.security-code-not-found {
    font-size: 13px;
    height: 25px;
    vertical-align: middle !important;
    margin-top: -15px;
}

.loading {
    padding-top: 15px;
}

.security-code-error-text {
    font-size: 13px;
    vertical-align: middle;

    text-align: center;

    width: 100%;

    height: 85px;

    background-color: #2b2e32 !important;


}
.security-code-retrieved {
    letter-spacing: 5px;
    font-size: 30px;

    width: 100%;

    padding-top: 15px;
    border-radius:5px;

}

.creating-user-link:hover {
    color: #7f7fff !important;
}
